*
{
    border-style: dashed;
}
h1
{
  color:rgb(63, 228, 48);
  background-color: antiquewhite;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.f
{
    color: brown;
}
#one
{
    color: aqua;
}